.left__panel {
    width: 150px;
    height: auto;
    border: 2px solid black;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    ul {
        margin: 10px 0 20px 0px;
        width: 100%;
    }
    ol {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        cursor: pointer;
        border-bottom: 0.9px solid black;
        width: 100%;
    }
    &_list {
        color: black;
        font-weight: bold;
    }
}
